In [1]:
import matplotlib.pyplot as plt
import pandas as pd

c:\Users\Mandar\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [4]:
# df = pd.read_csv("diabetes.csv")
# df = pd.read_csv("diabetes_prediction_dataset.csv")
df = pd.read_csv("user_data.csv")
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,1,30,1,1,0,25.00,5.0,100.0,0
1,1,30,1,1,0,48.48,5.0,100.0,0
2,1,30,1,1,0,48.48,15.0,100.0,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               1 non-null      int64
 1   age                  1 non-null      int64
 2   hypertension         1 non-null      int64
 3   heart_disease        1 non-null      int64
 4   smoking_history      1 non-null      int64
 5   bmi                  1 non-null      float64
 6   HbA1c_level          1 non-null      float64
 7   blood_glucose_level  1 non-null      float64
 8   diabetes             1 non-null      int64
dtypes: float64(3), int64(6)
memory usage: 200.0 bytes